
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_tramite.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tipo_tramite.name }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead class="text-warning">
            <tr>
                
                <th>Documento</th>
                <th>Imagen</th>
                <th>Papel</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in tipo_tramite.documentos %}
                <tr>
                    <td>{{documento.name}}</td>
                    <td><i class="material-icons {{documento.isRequestImage == true ? 'text-success' : 'text-danger' }}">{{documento.isRequestImage == true ? 'check' : 'cancel' }}</i></td>
                    <td><i class="material-icons {{documento.isRequestPaper == true ? 'text-success' : 'text-danger' }}">{{documento.isRequestPaper == true ? 'check' : 'cancel' }}</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
