
   <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.name }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ cliente.province.name }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ cliente.city }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ cliente.address }}</td>
            </tr>
        </tbody>
    </table>
    </div>
