<section class="py-5" id="tramites">
        <div class="bg-holder d-none d-sm-block" style="background-image:url({{asset('homepage/public/assets/img/illustrations/category-bg.png')}});background-position:right top;background-size:200px 320px;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6 text-center mb-3">
              <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Gestión inteligente</h5>
              <p class="mb-5">Procesos más ágiles, exactos y fáciles de monitorear.</p>
            </div>
          </div>
          <div class="row flex-center h-100">
            <div class="col-10 col-xl-9">
              <div class="row">
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/finance.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Costo</h6>
                        <p class="mb-0 card-text">Transparente</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/design.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Información</h6>
                        <p class="mb-0 card-text">disponible en la nube</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/programmer.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Accesibilidad</h6>
                        <p class="mb-0 card-text">Desde cualquier dispositivo</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/production.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Info de Trámites</h6>
                        <p class="mb-0 card-text">protegida</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/education.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Personal</h6>
                        <p class="mb-0 card-text">altamente capacitado</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
                  <div class="card py-4 shadow-sm h-100 hover-top">
                    <div class="text-center"> <img src="{{asset('homepage/public/assets/img/illustrations/consultancy.png')}}" height="120" alt="" />
                      <div class="card-body px-2">
                        <h6 class="fw-bold fs-1 heading-color">Comunicación</h6>
                        <p class="mb-0 card-text">Continua</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>