{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Reportes{% endblock %}
    {% block navbar %}
    <h5>{{reporte.name}}</h5>
        {% include 'reporte/filters.html.twig' %}
    {% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Promedio</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
            {% for row in td %}
                <tr>
                    <td>{{row.concepto}}<br/><small>{{row.itemCant}} documentos</small></td>
                    <td class="text-end number">{{row.cantidad}}</td>
                    <td  class="text-end number">{{row.promedio}}</td>
                    <td class="text-end number">{{row.total}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a>Total de documentos de {{customer.name}}: {{total}}</a>
        {# {{ td | json_encode}} #}
    </div>
</div>
<script>
    console.log('docs view_group1:');
    console.log({{listaDocumentos | json_encode | raw}});
    $(".number").each(function (){
        $(this).html(numeral($(this).html()).format("0,0.00"));
    })
</script>
{% endblock %}
