{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}Cuenta index{% endblock %}

{% block content %}
    <h1>Cuentas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for cuentum in cuentas %}
            <tr>
                <td>{{ cuentum.id }}</td>
                <td>{{ cuentum.name }}</td>
                <td>
                    <a href="{{ path('app_cuenta_show', {'id': cuentum.id}) }}"><i class='bx bxs-search-alt-2'></i></a>
                    <a href="{{ path('app_cuenta_edit', {'id': cuentum.id}) }}"><i class='bx bxs-edit-alt'></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_cuenta_new') }}">Nueva</a>
{% endblock %}
