{{ form_start(form) }}
<style>
    ul.table{
        height: 250px;
        overflow: scroll;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
     ul.tableImp{
        height: 150px;
        overflow: scroll;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
    ul.table>li{
        list-style:none;
    }
     ul.tableImp>li{
        list-style:none;
    }
    ul.table>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.tableImp>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.table>li>div>div:first-child{
        width: 100%;
    }
    ul.tableImp>li>div>div:first-child{
        width: 100%;
    }
      
</style>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva {{document.tipo.name ?? 'Unknow'}} - <strong>{{document.customer.name ?? 'Unknow'}}</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if view_field ('created_at', document) %}
                <div class="col-sm-3">
                    {{ form_row(form.created_at) }}
                </div>
            {% endif %}
             {% if view_field ('codigo', document) %}
                <div class="col-sm-3">
                {{ form_row(form.codigo) }}
                    
                </div>
            {% endif %}
            <div class="col-sm-6">
                <div class="d-flex">
                    {% if view_field ('emisor', document) %}
                        {{ form_row(form.emisor) }}
                    {% endif %}
                    {% if view_field ('numero', document) %}
                        {{ form_row(form.numero) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            {% if view_field ('vendor', document) %}
                <div class="col-sm-7">
                    {{ form_row(form.vendor) }}
                    
                </div>
            {% endif %}
            {% if view_field ('campania', document) %}
                <div class="col-sm-2">
                    
                    {{ form_row(form.campania) }}
                </div>
            {% endif %}
            {% if view_field ('sucursal', document) %}
                <div class="col-sm-3">
                    {{ form_row(form.sucursal) }}
                </div>
            {% endif %}
        </div>
        {% if view_field ('concepto_caja', document) %}
            
            <div class="row">
                <div class="col-sm-8">
                    {{ form_row(form.concepto_caja) }}
                </div>
                {% if view_field ('subtotal', document) %}
                    <div class="col-sm-4 " style="align-self: end;">
                        {{ form_row(form.subtotal) }}
                    
                    </div>
                {% endif %}
            </div>
        {% endif %}
        {% if view_field ('cuenta_bancaria', document) %}
            
            <div class="row" id="cont_document_cuenta_bancaria">
                <div class="col-sm-12">
                    {{ form_row(form.cuenta_bancaria) }}
                </div>
            </div>
        {% endif %}
        {% if view_field ('detail', document) %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex">
                        <label>Detalle</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-rnd add_item_link" data-collection-holder-class="detail"><i class="tf-icons bx bx-plus"></i></button>
                    </div>
                    <ul 
                        class="tableImp detail" 
                        data-index="{{ form.detail|length > 0 ? form.detail|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.detail.vars.prototype)|e('html_attr') }}">
                    
                            {% for detalle in document.detail %}
                                <li>
                                        {{ detalle.concepto.name ~ ' ' ~ detalle.ammount }}
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-8">
                {% if view_field ('impuestos', document) %}
                        <div class="d-flex">
                            <label>Impuestos</label>
                            <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_imp" data-collection-holder-class="impuestos"><span class="tf-icons bx bx-plus"></span></button>
                        </div>
                        <ul 
                            class="tableImp impuestos" 
                            data-index="{{ form.impuestos|length > 0 ? form.impuestos|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.impuestos.vars.prototype)|e('html_attr') }}">
                        
                                {% for impuesto in document.impuestos %}
                                    <li>
                                            {{ impuesto.type.name ~ ' ' ~ impuesto.value }}
                                        </li>
                                {% endfor %}
                        </ul>
                    
                {% endif %}

                {% if view_field ('percepciones', document) %}            
                    <div class="d-flex">
                        <label>Percepciones</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_per" data-collection-holder-class="percepciones"><span class="tf-icons bx bx-plus"></span></button>
                    </div>
                    <ul 
                        class="tableImp percepciones" 
                        data-index="{{ form.percepciones|length > 0 ? form.percepciones|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.percepciones.vars.prototype)|e('html_attr') }}">
                    
                            {% for percepcion in document.percepciones %}
                                <li>
                                        {{ percepcion.type.name ~ ' ' ~ percepcion.ammount }}
                                    </li>
                            {% endfor %}
                    </ul>
                {% endif %}
                {% if view_field ('retenciones', document) %}            
                    <div class="d-flex">
                        <label>Retenciones</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_ret" data-collection-holder-class="retenciones"><span class="tf-icons bx bx-plus"></span></button>
                    </div>
                    <ul 
                        class="tableImp retenciones" 
                        data-index="{{ form.retenciones|length > 0 ? form.retenciones|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.retenciones.vars.prototype)|e('html_attr') }}">
                    
                            {% for retencion in document.retenciones %}
                                <li>
                                        {{ retencion.type.name ~ ' ' ~ retencion.ammount }}
                                    </li>
                            {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if view_field ('total', document) %}
                <div class="col-sm-4 " style="align-self: end;">
                    {{ form_row(form.total) }}
                
                </div>
            {% endif %}
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
{{ form_end(form, {'render_rest': false}) }}
<script>
var addFormToCollection = (e) => {
  var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  var item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  var element3 = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
    var choices = new Choices(element3, {
       
    });
};

var addFormImpToCollection = (e) => {
  var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  var item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  var element4 = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
    var choices = new Choices(element4, {
       
    });
};

var addFormPerToCollection = (e) => {
  var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  var item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  
};

var addFormRetToCollection = (e) => {
  var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  var item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  //var element4 = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
  //  var choices = new Choices(element4, {     
    // });
};

    document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  document
  .querySelectorAll('.add_item_imp')
  .forEach(btn => {
      btn.addEventListener("click", addFormImpToCollection)
  });
  document
  .querySelectorAll('.add_item_per')
  .forEach(btn => {
      btn.addEventListener("click", addFormPerToCollection)
  });
  document
  .querySelectorAll('.add_item_ret')
  .forEach(btn => {
      btn.addEventListener("click", addFormRetToCollection)
  });

  $(document).on("change", ".suma-total", function(){
        var total = 0;
        $(".suma-total").each(function(){
            var val = $(this).val();
            if(!isNaN(val)){
                total += parseFloat(val);
            }
        });
        $("#document_total").val(total);
  });

var $concepto_caja = $('#document_concepto_caja');
var $cuenta_bancaria = $('#cont_document_cuenta_bancaria')

$concepto_caja.change(function() {
  var valor = $('#document_concepto_caja option:selected').val();
  if(valor ==1 ){
    $($cuenta_bancaria).fadeOut();
  }else{
    $($cuenta_bancaria).fadeIn();
  }
});
</script>