{{ form_start(form) }}

<style>
ul>li.header{
        background: #f1f1f1;
        justify-content: space-between;
        align-content: space-between;
        align-items: stretch;
    }
@media (min-width: 640px){
    .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 0px !important;
    }
}
.container {
  overflow: auto;
}

.choices__list {
  overflow: visible;
}
    ul.table{
        height: 250px;
        overflow: auto;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
     ul.tableImp{
        height: 200px;
        overflow: auto;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
    ul.table>li{
        list-style:none;
    }
     ul.tableImp>li{
        list-style:none;
    }
    ul.table>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.tableImp>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.table>li>div>div:first-child{
        width: 100%;
    }
    ul.tableImp>li>div>div:first-child{
        width: 100%;
    }
   
</style>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva {{document.tipo.name ?? 'Unknow'}} - <strong>{{document.customer.name ?? 'Unknow'}}</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if view_field ('created_at', document) %}
                <div class="col-sm-2">
                    {{ form_row(form.created_at) }}
                </div>
            {% endif %}
             {% if view_field ('codigo', document) %}
                <div class="col-sm-2">
                    {{ form_row(form.codigo) }}
                </div>
            {% endif %}
            <div class="col-sm-4">
                <div class="d-flex">
                    {% if view_field ('emisor', document) %}
                        <div style="width:30%">
                            {{ form_row(form.emisor, {'type': 'number'}) }}
                        </div>
                    {% endif %}
                    {% if view_field ('numero', document) %}
                        {{ form_row(form.numero, {'type': 'number'}) }}
                    {% endif %}
                    
                </div>
            </div>
            {% if view_field ('sucursal', document) %}
                <div class="col-sm-2">
                    {{ form_row(form.sucursal) }}
                </div>
            {% endif %}
            {% if view_field ('campania', document) %}
                <div class="col-sm-2">
                    {{ form_row(form.campania) }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if view_field ('vendor', document) %}
                <div class="col-sm-6">
                    {{ form_row(form.vendor) }}<br/>
                    
                </div>
            {% endif %}
            
            {% if view_field ('grano', document) %}
                <div class="col-sm-3">
                    {{ form_row(form.grano) }}
                </div>
            {% endif %}
             {% if view_field ('centro_costo', document) %}
                <div class="col-sm-3">
                    {{ form_row(form.centro_costo) }}
                </div>
            {% endif %}
            
        </div>
        {% if view_field ('concepto_caja', document) %}
            
            <div class="row">
                <div class="col-sm-5">
                    {{ form_row(form.concepto_caja) }}
                </div>
                <div class="col-sm-4">
                    {% if view_field ('medio_pago', document) %}
                            {{ form_row(form.medio_pago) }}
                    {% endif %}
                </div>
                <div class="col-sm-3 " style="align-self: end;">
                    {% if view_field ('subtotal', document) %}
                        {{ form_row(form.subtotal) }}
                    {% endif %}    
                </div>
            </div>
        {% endif %}
        {% if view_field ('cuenta_bancaria', document) %}
            
            <div class="row" id="cont_document_cuenta_bancaria">
                <div class="col-sm-12">
                    {{ form_row(form.cuenta_bancaria) }}
                </div>
            </div>
        {% endif %}
        {% if view_field ('cheque', document) %}
            <div class="row" id="cont_document_cheques">
                <div class="d-flex">
                    <label>Cheques</label>
                    <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_cheque" data-collection-holder-class="cheques"><span class="tf-icons bx bx-plus"></span></button>
                </div>
                <ul 
                    class="tableImp cheques" 
                    data-index="{{ form.cheques|length > 0 ? form.cheques|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.cheques.vars.prototype)|e('html_attr') }}">
                
                        {% for cheque in document.cheques %}
                            <li>
                                    {{ cheque.bank.name ~ ' ' ~ cheques.monto }}
                                </li>
                        {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        {% if view_field ('detail', document) %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex">
                        <label>Detalle</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-rnd add_item_link" data-collection-holder-class="detail"><i class="tf-icons bx bx-plus"></i></button>
                    </div>
                    <div >
                    <ul class="tableImp detail" 
                        data-index="{{ form.detail|length > 0 ? form.detail|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.detail.vars.prototype)|e('html_attr') }}">
                    {# <li class="header">
                        <label>Concepto</label><label>Cantidad</label><label>Precio Unitario</label><label>Monto</label>
                    </li> #}
                        {% for detalle in document.detail %}
                            <li>
                                {{ detalle.concepto.name ~ ' ' ~ detalle.ammount }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-8">
                {% if view_field ('impuestos', document) %}
                        <div class="d-flex">
                            <label>Impuestos</label>
                            <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_imp" data-collection-holder-class="impuestos"><span class="tf-icons bx bx-plus"></span></button>
                        </div>
                        <ul 
                            class="tableImp impuestos" 
                            data-index="{{ form.impuestos|length > 0 ? form.impuestos|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.impuestos.vars.prototype)|e('html_attr') }}">
                        
                                {% for impuesto in document.impuestos %}
                                    <li>
                                            {{ impuesto.type.name ~ ' ' ~ impuesto.value }}
                                        </li>
                                {% endfor %}
                        </ul>
                    
                {% endif %}

                {% if view_field ('percepciones', document) %}            
                    <div class="d-flex">
                        <label>Percepciones</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_per" data-collection-holder-class="percepciones"><span class="tf-icons bx bx-plus"></span></button>
                    </div>
                    <ul 
                        class="tableImp percepciones" 
                        data-index="{{ form.percepciones|length > 0 ? form.percepciones|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.percepciones.vars.prototype)|e('html_attr') }}">
                    
                            {% for percepcion in document.percepciones %}
                                <li>
                                        {{ percepcion.type.name ~ ' ' ~ percepcion.ammount }}
                                    </li>
                            {% endfor %}
                    </ul>
                {% endif %}
                {% if view_field ('retenciones', document) %}            
                    <div class="d-flex">
                        <label>Retenciones</label>
                        <button type="button" class="pull-right btn rounded-pill btn-primary btn-icon btn-round add_item_ret" data-collection-holder-class="retenciones"><span class="tf-icons bx bx-plus"></span></button>
                    </div>
                    <ul 
                        class="tableImp retenciones" 
                        data-index="{{ form.retenciones|length > 0 ? form.retenciones|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.retenciones.vars.prototype)|e('html_attr') }}">
                    
                            {% for retencion in document.retenciones %}
                                <li>
                                        {{ retencion.type.name ~ ' ' ~ retencion.ammount }}
                                    </li>
                            {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if view_field ('total', document) %}
                <div class="col-sm-4 " style="align-self: end;">
                    {{ (form_row(form.total)) }}
                
                </div>
            {% endif %}
            {% if view_field ('observaciones', document) %}
                <div class="col-sm-8">
                    {{ form_row(form.observaciones) }}
                </div>
            {% endif %}
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
{{ form_end(form, {'render_rest': false}) }}
<script>
var sumatoriaTotal;

var totalMask;
var totalMaskPu;
var addFormToCollection = (e) => {
  var collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  var item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
  if(e.currentTarget.dataset.collectionHolderClass=='detail'){
      var elementDetail = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
        /*var choices = new Choices(elementDetail, {
        
        });*/
    }
  
  if(e.currentTarget.dataset.collectionHolderClass=='cheques'){
      var elementCheque = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
        /*var choices = new Choices(elementCheque, {
        
        });*/
    }

    if(e.currentTarget.dataset.collectionHolderClass=='impuestos'){
      var elementImp = document.querySelector('#'+item.childNodes[0].childNodes[0].childNodes[1].id);
        /*var choices = new Choices(elementImp, {
        
        });*/
    }

}
  




    document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  document
  .querySelectorAll('.add_item_cheque')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  document
  .querySelectorAll('.add_item_imp')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
  document
  .querySelectorAll('.add_item_per')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
  document
  .querySelectorAll('.add_item_ret')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

  $(document).on("change", ".suma-total", function(){
        var total = 0;
        $(".suma-total").each(function(){
            $(this).val(numeral($(this).val()).format("0,0.00"));
            var val = parseFloat(numeral($(this).val()).value())
            if(!isNaN(val)){
                total += (val);
            }
        });
        
        $(".ver-total").val(numeral(total).format("0,0.00")).trigger("change");
        
        
        
  });


$(document).on("change", ".suma-subtotal-cant", function(){
    $(this).val(numeral($(this).val()).format("0,0.00"));
    let u = $(this).closest("li").find(".suma-subtotal-pu")
    calculaSubtotalLinea(u);
});

$(document).on("change", ".suma-subtotal-pu", function(){
        $(this).val(numeral($(this).val()).format("0,0.00"));
        calculaSubtotalLinea(this);
  });

function calculaSubtotalLinea(e){
    
    var subtotal = 0;
    var pu = numeral($(e).val()).value();
    var cant = numeral($(e).closest("li").find(".suma-subtotal-cant").val()).value();

    if(!isNaN(cant)){
        if(!isNaN(pu)){
            subtotal = parseFloat(pu * cant);
            $(e).closest("li").find(".suma-total").val(numeral(subtotal).format("0,0.00")).trigger("change");
        }else{
            console.log(pu);
        }
    }else{
        console.log(cant);
    }
}

var $concepto_caja = $('#document_concepto_caja');
var $cuenta_bancaria = $('#cont_document_cuenta_bancaria')

$concepto_caja.change(function() {
  var valor = $('#document_concepto_caja option:selected').val();
  if(valor ==1 ){
    $($cuenta_bancaria).fadeOut();
  }else{
    $($cuenta_bancaria).fadeIn();
  }
});
var $medio_pago = $('#document_medio_pago');
var $monto = $('#document_subtotal');
var $cont_cheques = $('#cont_document_cheques');


$medio_pago.change(function() {
  var valor = $('#document_medio_pago option:selected').val();
  if(valor == 'Cheque' ){
    $($monto).removeClass("suma-total");
    $($monto).addClass("ver-total");
    $($cont_cheques).fadeIn();
  }else{
    $($monto).removeClass("ver-total");
    $($monto).addClass("suma-total");
    $($cont_cheques).fadeOut();
  }
});
(()=>{
    var element = document.getElementById('document_total');
    var maskOptions = {
        mask: Number, 
    // other options are optional with defaults below
    scale: 2,  // digits after point, 0 for integers
    signed: false,  // disallow negative
    thousandsSeparator: ',',  // any single char
    padFractionalZeros: false,  // if true, then pads zeros at end to the length of scale
    normalizeZeros: true,  // appends or removes zeros at ends
    radix: '.',  // fractional delimiter
    mapToRadix: [',','.'],  // symbols to process as radix

    };
     totalMask = IMask(element, maskOptions);
})();

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
</script>