
<div>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{document.customer.name}}</strong> | {{document.tipo.name}} {{ document.emisor }}-{{ document.numero }}</h5>
        <button type="button" onclick="imprimir()" class="btn btn-just-icon float-right"><i class='bx bxs-printer' ></i></button>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
    </div>
    <div class="modal-body" id="context-printable">
        <div class="row">
            {% if view_field ('created_at', document) %}
                <div class="col-sm-6 col-md-6">
                    <label>Fecha: <strong class="field">{{ (document.getCreatedAt | date('d/m/Y')) }}</strong class="field"></label>
                </div>
            {% endif %}
            {% if view_field ('codigo', document) %}
                <div class="col-sm-2 col-md-2">
                    <label>Código: <strong class="field">{{ document.codigo }}</strong></label>
                </div>
            {% endif %}
            <div class="col-sm-4 col-md-4  text-end">
                {% if view_field ('sucursal', document) %}
                    <label>Sucursal: <strong class="field big">{{ document.sucursal }}</strong></label>
                {% endif %}
                
            </div>
        </div>
        <div class="row">
                {% if view_field ('vendor', document) %}
                    <div class="col-sm-6  col-md-6">
                        <label>Cliente: </label><br/><strong class="field big">{{ document.vendor.name }}</strong>
                        CUIT: <strong>{{document.vendor.cuit}}</strong><br/>
                        Domicilio: <strong>{{document.vendor.address ~ ', ' ~ document.vendor.city ~ ' - ' ~ document.vendor.provincia}}</strong>
                    </div>
                {% endif %}
                <div class="col-sm-2  col-md-2">
                    <div >
                        {% if view_field ('emisor', document) %}
                            <label>Emisor: <strong class="field">{{ document.emisor }}</strong></label><br/>
                        {% endif %}
                        {% if view_field ('numero', document) %}
                            <label>Número: <strong class="field">{{ document.numero }}</strong></label><br/>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="col-sm-4 col-md-4  text-end">
                    {% if view_field ('campania', document) %}
                        <label>Campaña: <strong class="field">{{ document.campania }}</strong></label>                
                    {% endif %}
                    {% if view_field ('grano', document) %}
                        <label>Grano: <strong class="field">{{ document.grano.name ?? "-" }}</strong></label>                
                    {% endif %}
                    {% if view_field ('centro_costo', document) %}
                       <label>Centro Costo: <strong>{{ (document.getCentroCosto ?? 'No posee') }}</strong></label>
                    {% endif %}
                </div>
        </div>
       
        {% if view_field ('concepto_caja', document) %}
            
            <div class="row">
                <div class="col-sm-4 col-md-8">
                    <label> Concepto: <strong class="field">{{ (document.getConceptoCaja.name) }}</strong></label>
                </div>
                
                <div class="col-sm-4  text-end" style="align-self: end;">
                     {% if view_field ('subtotal', document) %}
                        <label>Monto: <strong class="field">{{ get_formatted_number(document.subtotal) }}</strong></label>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if view_field ('cuenta_bancaria', document) %}
            
            <div class="row" id="cont_document_cuenta_bancaria">
                <div class="col-sm-12">
                    <label> Banco: <strong class="field">{{ (document.getCuentaBancaria ? document.getCuentaBancaria.getBanco.name : 'No Aplica') }}</strong></label>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if view_field ('detail', document) %}
                <div class="col-sm-12">
                    <div class="d-flex">
                        <label>Detalle</label>
                        
                    </div>
                    <ul 
                        class="tableImp detail" 
                        >
                    <li class="header">
                        <label>Concepto</label><label>Cantidad</label><label>Precio Unitario</label><label>Monto</label>
                    </li>
                            {% for detalle in document.detail %}
                                <li>
                                        <label>{{ detalle.concepto.name }}</label><label class="number">{{ detalle.cantidad }}</label><label class="number">{{ detalle.getPrecioUnitario }}</label><label class="number">{{ get_formatted_number(detalle.ammount) }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if view_field ('cheque', document) %} 
                <div class="col-sm-6 col-md-8">
                    <div class="d-flex">
                        <label>Cheques</label>
                        
                    </div>
                    <ul class="tableImp " >
                            <li class="header">
                                <label><strong>Numero</strong></label><label><strong>Vencimiento</strong></label><label><strong>Monto</strong></label>
                            </li>
                            {% for cheque in document.cheques %}
                                <li>
                                    <label>{{ cheque.numero }}</label><label>{{ cheque.vencimiento | date('d/m/Y')}}</label><label class="">{{ get_formatted_number(cheque.monto) }}</label>
                                </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
         <div class="row">
            {% if view_field ('impuestos', document) %}
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Impuestos</label>
                        
                    </div>
                    <ul 
                        class="tableImp impuestos" 
                    >
                    <li class="header">
                        <label><strong>Concepto</strong></label><label><strong>Monto</strong></label>
                    </li>
                            {% for impuesto in document.impuestos %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label class="number">{{get_formatted_number(impuesto.value) }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
                
            {% endif %}

            {% if view_field ('percepciones', document) %} 
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Percepciones</label>
                        
                    </div>
                    <ul 
                        class="tableImp " 
                    >
                    <li class="header">
                        <label><strong>Concepto</strong></label><label><strong>Monto</strong></label>
                    </li>
                            {% for impuesto in document.percepciones %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label class="number">{{ get_formatted_number(impuesto.ammount) }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if view_field ('retenciones', document) %} 
                <div class="col-sm-4 col-md-8">
                    <div class="d-flex">
                        <label>Retenciones</label>
                        
                    </div>
                    <ul 
                        class="tableImp " 
                    >
                    <li class="header">
                        <label><strong>Concepto</strong></label><label><strong>Monto</strong></label>
                    </li>
                            {% for impuesto in document.retenciones %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label class="">{{get_formatted_number(impuesto.ammount) }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-sm-4" style="align-self: end;">
                <label>Total: <strong class="field number">{{(document.total) }}</strong></label>
               
            </div>
        </div>
        <div class="row"
            {% if view_field ('centro_costo', document) %}
                <div class="col-sm-8">
                    <label>Observaciones: <strong class="field big">
                    {{ (document.observaciones) }}</strong>
                    </label>
                </div>
            {% endif %}
            
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    </div>
 </div>
    <script>
    function imprimir(){
        printJS({
            printable:'context-printable', 
            type:'html', 
            showModal:true,
            css: ['{{asset('css/styles.css?v=1')}}', '{{asset('dashboard/assets/vendor/css/core.css')}}','{{asset('dashboard/assets/vendor/css/material-dashboard.min-v1.css')}}','{{asset('/css/tablePdf.css')}}']
            /*header: "<div style='display:block;'><img width='100' src='{{ asset('img/logo-grande.png')}}'></img><h4>Listado de Asistencias</h4></div>", */
            /*style: 'tr{border-bottom: 1px solid rgb(203, 203, 203);} table{display:block;}'
            ['/css/tablePdf.css',
            ,'{{asset('dashboard/assets/vendor/css/theme-default.css')}}','{{asset('dashboard/libs/datatables/responsive.bootstrap5.css')}}'],
            */
        });
    }

    $(".number").each(function (){
        $(this).html(numeral($(this).html()).format("0,0.00"));
    })
</script>
