
<style>
    ul.table{
        height: 250px;
        overflow: scroll;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
    
    strong.field{
        border: 1px solid gray;
    border-radius: 3px;
    padding: 3px 5px 3px 9px;
    min-width: 120px;
    display: block;
    background: #edebeb;
    }
     ul.tableImp{
        height: 150px;
        overflow: scroll;
        border: 1px solid #d8d7d7;
        border-radius: 5px;
    }
    ul.table>li{
        list-style:none;
            display: flex;
        justify-content: space-between;
        align-content: space-between;
        align-items: stretch;
        padding: 10px;
        border-bottom: solid 1px #ececec;
    }
     ul.tableImp>li{
        list-style:none;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: stretch; 
            padding: 10px;
            border-bottom: solid 1px #ececec;
    }
    ul.table>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.tableImp>li>div{
       display: flex;
       /* border-bottom: 1px solid #eae6e6;*/
            justify-content: space-between;
    }
    ul.table>li>div>div:first-child{
        width: 100%;
    }
    ul.tableImp>li>div>div:first-child{
        width: 100%;
    }
      
</style>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>{{document.customer.name}}</strong> | {{document.tipo.name}} {{ document.emisor }}-{{ document.numero }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
    </div>
    <div class="modal-body">
        <div class="row">
            {% if view_field ('created_at', document) %}
                <div class="col-sm-6">
                    <label>Fecha: <strong class="field">{{ (document.getCreatedAt | date('d/m/Y')) }}</strong class="field"></label>
                    
                </div>
            {% endif %}
            {% if view_field ('codigo', document) %}
                <div class="col-sm-3">
                    <label>Código: <strong class="field">{{ document.codigo }}</strong></label>
                </div>
            {% endif %}
            <div class="col-sm-3  text-end">
                {% if view_field ('sucursal', document) %}
                    <label>Sucursal: <strong class="field">{{ document.sucursal }}</strong></label>
                {% endif %}
                
            </div>
        </div>
        <div class="row">
                {% if view_field ('vendor', document) %}
                    <div class="col-sm-6">
                        <label>Cliente: <strong class="field">{{ document.vendor.name }}</strong></label>
                    </div>
                {% endif %}
                <div class="col-sm-3">
                    <div >
                        {% if view_field ('emisor', document) %}
                            <label>Emisor: <strong class="field">{{ document.emisor }}</strong></label><br/>
                        {% endif %}
                        {% if view_field ('numero', document) %}
                            <label>Número: <strong class="field">{{ document.numero }}</strong></label><br/>
                        {% endif %}
                        
                    </div>
                </div>
                <div class="col-sm-3 text-end">
                    {% if view_field ('campania', document) %}
                        <label>Campaña: <strong class="field">{{ document.campania }}</strong></label>                
                    {% endif %}
                    {% if view_field ('grano', document) %}
                        <label>Grano: <strong class="field">{{ document.grano.name ?? "-" }}</strong></label>                
                    {% endif %}
                </div>
        </div>
       
        {% if view_field ('concepto_caja', document) %}
            
            <div class="row">
                <div class="col-sm-8">
                    <label> Concepto: <strong class="field">{{ (document.getConceptoCaja.name) }}</strong></label>
                </div>
                
                <div class="col-sm-4  text-end" style="align-self: end;">
                     {% if view_field ('subtotal', document) %}
                        <label>Monto: <strong class="field">{{ document.subtotal }}</strong></label>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if view_field ('cuenta_bancaria', document) %}
            
            <div class="row" id="cont_document_cuenta_bancaria">
                <div class="col-sm-12">
                    <label> Banco: <strong class="field">{{ (document.getCuentaBancaria ? document.getCuentaBancaria.getBanco.name : 'No Aplica') }}</strong></label>
                </div>
            </div>
        {% endif %}
        <div class="row">
            {% if view_field ('detail', document) %}
                <div class="col-sm-12">
                    <div class="d-flex">
                        <label>Detalle</label>
                        
                    </div>
                    <ul 
                        class="tableImp detail" 
                        >
                    
                            {% for detalle in document.detail %}
                                <li>
                                        <label>{{ detalle.concepto.name }}</label><label>{{ detalle.cantidad }}</label><label>{{ detalle.ammount }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if view_field ('cheque', document) %} 
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Cheques</label>
                        
                    </div>
                    <ul class="tableImp " >
                            <li>
                                <label><strong>Numero</strong></label><label><strong>Vencimiento</strong></label><label><strong>Monto</strong></label>
                            </li>
                            {% for cheque in document.cheques %}
                                <li>
                                    <label>{{ cheque.numero }}</label><label>{{ cheque.vencimiento | date('d/m/Y')}}</label><label>{{ cheque.monto }}</label>
                                </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
         <div class="row">
            {% if view_field ('impuestos', document) %}
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Impuestos</label>
                        
                    </div>
                    <ul 
                        class="tableImp impuestos" 
                    >
                    
                            {% for impuesto in document.impuestos %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label>{{impuesto.value }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if view_field ('percepciones', document) %} 
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Percepciones</label>
                        
                    </div>
                    <ul 
                        class="tableImp " 
                    >
                    
                            {% for impuesto in document.percepciones %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label>{{ impuesto.ammount }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if view_field ('retenciones', document) %} 
                <div class="col-sm-8">
                    <div class="d-flex">
                        <label>Retenciones</label>
                        
                    </div>
                    <ul 
                        class="tableImp " 
                    >
                    
                            {% for impuesto in document.retenciones %}
                                <li>
                                        <label>{{ impuesto.type.name }}</label><label>{{ impuesto.ammount }}</label>
                                    </li>
                            {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-sm-4 text-end" style="align-self: end;">
                <label>Total: <strong class="field">{{ document.total }}</strong></label>
               
            </div>
            
        </div>
            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
    </div>
