{% extends 'dashboard/dashboard_base.html.twig' %}

{% block content %}

    <div class="card">
        <label class="h4 text-center">{{entidadTypeDoc.name}}</label>
        <div class="card-body">
            <button class="btn btn-round btn-primary pull-right btn-just-icon" onclick="showFormLg('{{ path('app_document_new', {typeEnt: entidadTypeDoc.id}) }}')"><a>Nuevo</a></button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Sucursal</th>
                        <th>Número</th>
                        <th>Cliente</th>
                        <th>Total</th>
                        
                        <th  class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                {% for documento in documents %}
                    <tr>
                        <td>{{ documento.getCreatedAt | date('d/m/Y') }}</td>
                        <td>{{ documento.sucursal }}</td>
                        <td>{{ documento.numero }}</td>
                        <td>{{ documento.vendor.name }}</td>
                        
                        <td>{{ documento.total }}</td>
                        <td  class="text-right">
                        {# <a class="btn btn-just-icon" onclick="showForm('{{ path('app_documento_show', {'id': documento.id}) }}')"><i class="material-icons">search</i></a> #}
                                    <a class="btn btn-just-icon " onclick="showFormLg('{{ path('app_document_edit', {'id': documento.id}) }}')"><i class="bx bx-pencil me-1"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No se encontraron Documentos</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}