{% include 'dashboard/base.html.twig' %}
{% block wrapper %}
  
  
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        {% include('dashboard/_menu.html.twig') %}
        <!-- Layout container -->
        <div class="layout-page  align-top">
          {% block navbar %}
            {% include('dashboard/_navbar.html.twig') %}
          {% endblock %}
          <!-- Content wrapper -->
          <div class="content-wrapper  card-body">
            
            {% block content %}
              
            {% endblock %}

              

            <div class="content-backdrop fade"></div>
            {% include('dashboard/_footer.html.twig') %}
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    {% endblock %}

   
      <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"  id="modalContent">
          
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalLg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div id="modalContentLg" class="modal-content">
                  
              </div>
          </div>
      </div>
      <div class="modal fade" id="modalXl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div id="modalContentXl" class="modal-content">
                    
                </div>
            </div>
        </div>

       
     {% block scripts %}
       <script src="{{asset('vendor/sweetalert2/dist/sweetalert2.all.min.js')}}"></script>
       {# <link href="{{asset('js/plugins/bootstrap-select2/select2.css')}}" rel="stylesheet"/>
       <link href="{{asset('js/plugins/bootstrap-select2/select2-bootstrap.css')}}" rel="stylesheet"/>
       <script src="{{asset('js/plugins/bootstrap-select2/select2.min.js')}}"></script> #}
        <script src="{{asset('js/functions.js?v=60')}}"></script>
            
    {% endblock %}
       
