{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}SubCuentas{% endblock %}

{% block content %}
    <div>
    <h4>Usuarios</h4>
    <button class="btn btn-primary me-2 " onclick="showFormLg('{{ path('app_user_new') }}')"><span class="tf-icons bx bx-add-alt"></span> Nuevo</button>
    <div class="card card-body">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Clientes</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>
                        {% for cliente in user.clientes %}
                            <span class="badge bg-primary">{{cliente.name}}</span>
                        {% else %}
                            <span class="badge bg-label-success">Todos</span>
                        {% endfor %}
                    </td>
                    <td>
                        
                        <a onclick="showFormLg('{{ path('app_user_edit', {'id': user.id}) }}')"><i class='bx bxs-edit-alt' ></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        
    </div>
    </div>
{% endblock %}
