
<style>
  .fechaManual{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
  }
</style>
<div class="col-lg-12 col-md-12">
  <div class="card">
  
      <div class="card-header card-header-tabs card-header-primary">
              <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                          <li class="nav-item">
                              <a class="nav-link active" href="#datos" data-toggle="tab">
                                  <i class="material-icons">description</i> Datos Principales
                                  <div class="ripple-container"></div>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#fechas" data-toggle="tab">
                                  <i class="material-icons">event</i> Fechas Manuales
                                  <div class="ripple-container"></div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
      </div>
      <div class="card-body">
              <div class="tab-content">
                  <div class="tab-pane active" id="datos">
                    {{ form_row(form.name) }}
                    {{ form_row(form.role_upload) }}
                    {{ form_row(form.request_image) }}
                    {{ form_row(form.request_paper) }}
                    {{ form_row(form.oculto) }}
                  </div>
                  <div class="tab-pane" onclick id="fechas">
                    <div class="btn btn-round btn-just-icon" onclick="addFechaManual()"><i class="material-icons">add</i></div>
                      <div id="contentFechasManuales">
                        {% for fecha in documento.getFechaManual %}
                          <div class="fechaManual">
                            <input type="hidden" name="fechaManual[]" value="{{fecha.id}}"/>
                            Fecha de: <input type="text" class="form-control" name="fechaManualName[]" value="{{fecha.name}}"/>
                            <i onclick="deleteFechaManual(this)" class="material-icons text-danger">delete</i>
                          </div>
                        {% endfor %}
                      </div>
                  </div>
              </div>
        </div>
      
</div>


<script>

  var roles = [
    {value:'COORDINADOR', label:'COORDINADOR'}, 
    {value:'VENDEDOR', label:'VENDEDOR'}, 
    {value:'GESTORIA',label:'GESTORIA' }];

var tipo_roles = new Choices('#documento_role_upload',{
    allowHTML: true,
    duplicateItemsAllowed: false,
    delimiter: ',',
    editItems: false,
    removeItemButton: true,
    choices: roles
    });


    function addFechaManual(){
      $("#contentFechasManuales").append(`<div class='fechaManual'>
                            <input type='hidden' name='fechaManual[]' value=''/>
                            Fecha de: <input type='text' class='form-control' name='fechaManualName[]' value=''/>
                            <i onclick='deleteFechaManual(this)' class='material-icons text-danger'>delete</i>
                          </div>`);
    }

    function deleteFechaManual(obj){
      $(obj).parent().remove();
    }
</script>
    
    
   
