{% extends 'dashboard.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <a class="btn btn-round btn-primary pull-right btn-just-icon" onclick="showForm('{{ path('app_documento_new') }}')"><i class="material-icons">add</i></a>
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                 <th  class="text-center">Oculto</th>
                <th  class="text-center">Requiere Imagen</th>
                <th  class="text-center">Requiere Papel</th>
                <th  class="text-center">COORDINADOR</th>
                <th  class="text-center">VENDEDOR</th>
                <th  class="text-center">GESTORIA</th>
                <th  class="text-right"></th>
            </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
            <tr>
                <td>{{ documento.id }}</td>
                <td>{{ documento.name }}</td>
                {# <td>{{ documento.gestor ? documento.gestor|json_encode : '' }}</td> #}
                <td class="text-center">{{ documento.oculto ? '<i class="material-icons text-secondary">visibility_off</i>' : '<i class="material-icons text-black">visibility</i>' }}</td>
                <td class="text-center">{{ documento.requestImage ? '<i class="material-icons text-success">check</i>' : '<i class="material-icons text-danger">cancel</i>' }}</td>
                <td class="text-center">{{ documento.requestPaper ? '<i class="material-icons text-success">check</i>' : '<i class="material-icons text-danger">cancel</i>' }}</td>
                {% set permisos = documento.getRoleUpload | split(',') %}
                <td class="text-center">{{('COORDINADOR' in permisos or (permisos | length) == 0) ? '<i class="material-icons text-success">check</i>' : '<i class="material-icons text-danger">cancel</i>'}}</td>
                <td class="text-center">{{('VENDEDOR' in permisos or (permisos | length) == 0) ? '<i class="material-icons text-success">check</i>' : '<i class="material-icons text-danger">cancel</i>'}}</td>
                <td class="text-center">{{('GESTORIA' in permisos or (permisos | length) == 0) ? '<i class="material-icons text-success">check</i>' : '<i class="material-icons text-danger">cancel</i>'}}</td>
                <td  class="text-right">
                   {# <a class="btn btn-just-icon" onclick="showForm('{{ path('app_documento_show', {'id': documento.id}) }}')"><i class="material-icons">search</i></a> #}
                            <a class="btn btn-just-icon" onclick="showForm('{{ path('app_documento_edit', {'id': documento.id}) }}')"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron Documentos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
