
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documento.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ documento.name }}</td>
            </tr>
            <tr>
                <th>Gestor</th>
                <td>{{ documento.gestor ? documento.gestor|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Request_image</th>
                <td>{{ documento.requestImage ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Request_paper</th>
                <td>{{ documento.requestPaper ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
